# Solana RPC Configuration
HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_HELIUS_API_KEY

# Wallet Configuration
# Your main wallet's secret key (base58 encoded)
WALLET_SECRET=

# Token Configuration
TOKEN_NAME=My Awesome Token
TOKEN_SYMBOL=MAT
TOKEN_DESCRIPTION=This is an awesome token created with PumpFun bundler
TOKEN_FILE_PATH=./assets/token_image.png

# Bundle Configuration
# Number of wallets to create for bundling
BUNDLE_WALLETS=10

# Interval between buys (in seconds)
INTERVAL=30
# Time in minutes to wait before selling tokens
SLEEP_PERIOD_BEFORE_SELL=5

# Buy amount per wallet (in SOL)
BUY_AMOUNT_SOL=0.05
