# Solana RPC Configuration
HELIUS_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_HELIUS_API_KEY

# Wallet Configuration
# Your main wallet's secret key (base58 encoded)
WALLET_SECRET=

# Token Configuration
TOKEN_NAME=My Awesome Token
TOKEN_SYMBOL=MAT
TOKEN_DESCRIPTION=This is an awesome token created with PumpFun bundler
TOKEN_FILE_PATH=./assets/token_image.png

BUY_AMOUNT_SOL=0.05
